@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xh292i");
  src: url("../fonts/icomoon.eot?xh292i#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xh292i") format("truetype"), url("../fonts/icomoon.woff?xh292i") format("woff"), url("../fonts/icomoon.svg?xh292i#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-close:before {
  content: "\e5cd"; }

.icon-star:before {
  content: "\e838"; }

.icon-star_border:before {
  content: "\e83a"; }

.icon-star_half:before {
  content: "\e839"; }

body {
  font-family: 'Bitter', serif; }

.pyramid {
  margin-top: 10px; }
  .pyramid .pyramid__row {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .pyramid .pyramid__row:before, .pyramid .pyramid__row:after {
      display: table;
      content: " "; }
    .pyramid .pyramid__row:after {
      clear: both; }
    .pyramid .pyramid__row:nth-of-type(1) {
      /* TOP ROW COLOUR */ }
    .pyramid .pyramid__row:nth-of-type(2) {
      /* SECOND ROW COLOUR */ }
    .pyramid .pyramid__row:nth-of-type(3) {
      /* THIRD ROW COLOUR */ }
      .pyramid .pyramid__row:nth-of-type(3) .pyramid__block:nth-of-type(1) {
        background-size: cover; }
      .pyramid .pyramid__row:nth-of-type(3) .pyramid__block:nth-of-type(2) {
        background-size: cover; }
  .pyramid .pyramid__block {
    opacity: 1;
    height: 115px;
    width: 115px;
    text-align: center;
    background: #ec5045;
    background: -webkit-linear-gradient(legacy-direction(45deg), #ec5045, #ffca33);
    background: linear-gradient(45deg, #ec5045, #ffca33);
    margin-left: 15px;
    margin-right: 15px;
    display: block;
    align-self: center;
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    cursor: pointer;
    border-radius: 9px;
    position: relative;
    transition: 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .pyramid .pyramid__block h1 {
      background-color: #ffffff;
      color: #EC5045;
      width: 115px;
      position: absolute;
      line-height: 50px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.1);
      left: 0;
      top: 33px;
      padding: 0;
      margin: 0;
      font-size: 17px; }
    .pyramid .pyramid__block .close {
      color: white;
      position: absolute;
      right: 10px;
      top: 5px;
      cursor: pointer;
      font-size: 40px;
      display: none; }
      .pyramid .pyramid__block .close:hover {
        color: #EC5045; }

.booklist__wrap {
  opacity: 0;
  width: 99.99%;
  margin-left: 0.005%;
  height: 300px;
  background-color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1); }

.booklist__book {
  width: 150px;
  height: 100%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 70px; }
  .booklist__book h3 {
    font-size: 13px; }
  .booklist__book img {
    width: 105px;
    height: 140px; }

.selected {
  background: #ec5045;
  background: -webkit-linear-gradient(legacy-direction(135deg), #ec5045, #ffca33);
  background: linear-gradient(135deg, #ec5045, #ffca33);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.1); }
  .selected .booklist__book {
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .selected .booklist__book:hover h3 {
      color: red; }

.textbox {
  margin: 0 auto;
  margin-top: 80px;
  width: 30%;
  display: block; }
