$firstRowColor: rgb(33, 150, 243);
$secondRowColor: rgb(63, 81, 181);
$thirdRowColor: rgb(103, 58, 183);

@import "mixins";
@import "fonts";

body{
    font-family: 'Bitter', serif;
}

.pyramid{
    margin-top: 100px;
    .pyramid__row{
        &:before, &:after{
            display: table;
            content: " ";
            
        }
        &:after{
            clear:both;
        }
        display: flex;
        justify-content: center;
        margin-top: 20px;

        &:nth-of-type(1){ /* TOP ROW COLOUR */
            .pyramid__block{
                // @include linear-gradient(#9CCC65, darken(#FFC107, 0%));
                // background-image: url("../img/philosophy-bg.jpeg"); 
                
                // border-color: #2E7D32;
                
            }
        }

        &:nth-of-type(2){ /* SECOND ROW COLOUR */
            .pyramid__block{
                // @include linear-gradient($secondRowColor, $thirdRowColor);
                &:nth-of-type(1){
                    // background-image: url("../img/mindfulness-bg.jpeg"); 
                }
                &:nth-of-type(2){
                    // background-image: url("../img/principles-bg.jpeg"); 
                     
                }
                
                // border-color: #2E7D32;
            }
        }

         &:nth-of-type(3){ /* THIRD ROW COLOUR */
            .pyramid__block{
               &:nth-of-type(1){
                    // background-image: url("../img/body-bg.jpeg"); 
                     
                    background-size: cover;
                }
                &:nth-of-type(2){
                    // background-image: url("../img/social-bg.jpeg"); 
                     
                    background-size: cover;
                }
                 &:nth-of-type(3){
                    // background-image: url("../img/wealth-bg.jpg"); 
                     
                }
                
                // border-color: #2E7D32;
            }
        }


    }


    .pyramid__block{
        opacity: 1;
        height: 115px;
        width: 115px;
        text-align: center;
        // background-color: #D4D1D2;
         @include linear-gradient(45deg, #EC5045, #FFCA33);
        // padding: 10px;
        margin-left: 15px;
        margin-right: 15px;
        display: block;
        align-self: center;
        // border: 2px solid #EC5045;

        background-size: cover;
        background-clip: content-box;
        background-repeat: no-repeat;
        
        box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1); 
        
        -webkit-font-smoothing: antialiased;
        backface-visibility: hidden;
        cursor: pointer;
        border-radius: 9px;
        position: relative;
        // box-shadow: inset 0 0 10px #43A047, inset 0 0 20px darken(#43A047,10%);
        transition:0.5s cubic-bezier(.25,.8,.25,1);

        h1{
            background-color: #ffffff;
           
            color: #EC5045;
            width: 115px;
            position: absolute;
            line-height: 50px;
            box-shadow: 0 5px 20px rgba(0,0,0,0.1), 0px 10px 10px rgba(0,0,0,0.1); 
            left: 0;
            top: 33px;
            padding: 0;
            margin: 0;
            font-size: 17px;
        }
     
        .close{
            color: white;
            position: absolute;
            right: 10px;
            top: 5px;
            cursor: pointer;
            font-size: 40px;
            display: none;
            &:hover{
                color: #EC5045;
            }
        }
    }
}


.booklist__wrap{
    opacity: 0;
    width: 99.99%;
    margin-left: 0.005%;
    height: 300px;
    background-color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0px 0px 10px rgba(0,0,0,0.1); 
}
.booklist__book{
    width: 150px;
    height: 100%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    h3{
        font-size: 13px;
    }
    img{
        width: 105px;
        height: 140px;
    }
}

.selected{
    @include linear-gradient(135deg, #EC5045, #FFCA33);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3), 0px 0px 10px rgba(0,0,0,0.1);
    
    .booklist__book{
        transition: all 0.5s cubic-bezier(.25,.8,.25,1);
        &:hover{
            h3{
            color: red;

            }
        }
    }
}